/*
1. Posicionamiento ( position )
2. Modelo de caja (Box model, margin, padding, height, weight)
3. Tipografia ( fuente, tamano, tipo)
4. Visuales (shadow box, radious)
5. Otros 
*/

:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: grey;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*to be able to use rem in font-size 1.6rem = 16px*/
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* header styles */

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  align-items: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
}

.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title-container .header--button {
  position: absolute;
  /*To center floating button*/
  /* left: calc(50% - 114.5px); */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--just-white);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("../../assets/icons/down-icon.png");
}

/* main styles  */

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.exchange--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .exchange--background {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url("../../assets/images/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.exchange--title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.exchange--title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

/* Table styles */
.main-currency-table .currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
  text-align: left;
  margin-left: 10px;
}

.currency-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.currency-table-container table {
  width: 100%;
  height: 100%;
}

.currency-table-container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.currency-table-container .table__top-left {
  border-radius: 15px 0 0 0;
}

.currency-table-container .table__top-right {
  border-radius: 0 15px 0 0;
}

.currency-table-container .table__bottom-left {
  border-radius: 0 0 0 15px;
}

.currency-table-container .table__botom-right {
  border-radius: 0 0 15px 0;
}

.currency-table-container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table-container .table__logo-down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../../assets/icons/row-down-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table-container .table__logo-up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("../../assets/icons/row-up-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date {
  width: max-content;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
}

/* section card details styles*/

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.product-detail__batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  background-image: url("../../assets/icons/batata-icon.png");
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* left: calc(50% - 20px); 20px equivale la mitad del ancho logotipo */
  top: -12px;
}

.product-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.product-detail__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--grey);
}

/* Card styles */

.product-cards__detail {
  width: 90%;
  min-height: 150px;
  min-width: 288px;
  max-width: 400px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
/* Icons for cards */
.icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clock {
  background-image: url("../../assets/icons/clock-icon.png");
}

.eye {
  background-image: url("../../assets/icons/eye-icon.png");
}

.dollar {
  background-image: url("../../assets/icons/dollar-icon.png");
}

.circle {
  background-image: url("../../assets/icons/check-circle-icon.png");
}

.product-card__title {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product-card__body {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #808080;
}

/* Section with background */

.bitcoin-img-container {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("../../assets/images/bitcoinbaby-2x.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

/* Section plans styles */

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
  background-color: var(--off-white);
}

.plans__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
}

.plans__title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans__title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
  margin-bottom: 30px;
}

/* slider cards styles */

.cards-container__slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.card-container {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 20px 0;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.background-white {
  background-color: var(--just-white)
}

.background-orange {
  background-color: var(--bitcoin-orange);
}

.background-black {
  background-color: var(--warm-black);
}

.background-grey {
  background-color: var(--grey);
}

.background-blue {
  background-color: var(--secondary-blue);
}

.card__top-label {
  position: absolute;
  width: 120px;
  height: 31px;
  font-weight: bold;
  left: calc(50% - 60px);
  top: -15px;
  font-size: 1.2rem;
  border-radius: 8px;
  color: var(--just-white);
  padding: 6px;
}

.card__title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.white-text {
  color: var(--just-white)
}

.black-text {
  color: var(--warm-black)
}

.grey-text {
  color: var(--grey);
}

.card__price {
  position: relative;
  padding: 15px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
}

.card__price span {
  position: absolute;
  top: -7px;
  right: 70px;
  left: 0;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 15px;
}

.card__saving {
  font-size: 1.2rem;
}

.card__ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.ca--border-orange {
  border: 2px solid var(--bitcoin-orange);
}

.ca--border-grey {
  border: 2px solid var(--grey);
}



.ca--background-white {
  background-color: #faf8f7;
}
.ca--background-black {
  background-color: rgb(45, 44, 44);
}

.card__ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/arrow-right-icon.png');
  /* background-position: center;
  
  background-repeat: no-repeat; */
  vertical-align: text-bottom;
}

/* Footer styles */

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
  justify-content: space-evenly;
  align-items: center;
}

footer .footer__left ul{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.footer__left li {
  margin: 10px 0;
}

.footer__left a {
  text-decoration: none;
  color: var(--just-white); 
}



